* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-header: 'Cormorant', serif;
    --font-family-main: 'Roboto Slab', serif;
    --font-family-tert: 'Dela Gothic One', cursive;

    --bg-color-one: rgb(18, 22, 58);
    --bg-color-two: rgb(71, 142, 180);

    --bg-color-three: rgb(197, 214, 243);
    --bg-color-four: rgb(115, 145, 196);

    --font-color-white: whitesmoke;
    --font-color-dark: #272c2c;
}

/* Menu  ****************************************************************/




.large {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.small {
    font-size: .8rem;
    color: var(--font-color-dark);
}


/*  Menu Toggle  */

.menu-toggle {
    position: fixed;
    z-index: 9999;
    right: 5%;
    top: 3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;

    background-color: var(--font-color-white);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, .15);
}
.menu-toggle:hover {
    box-shadow: none;
    transition: .25s;
}

.menu-toggle.active {
    transform: rotate(-180deg);
}

.menu-toggle span {
    background: var(--bg-color-four);
    width: 100%;
    height: 3px;
}

.menu-toggle.active span:nth-child(1) {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/*  Nav  */

nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    font-family: var(--font-family-main);
}
.nav.active {
    pointer-events: auto;
}

.nav-left {
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--font-color-white);
    transition: .8s;
}
.nav-left.active {
    left: 0;
    transition: .5s;
}

.nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.nav-right {
    position: absolute;
    z-index: 9;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background: linear-gradient(45deg, var(--bg-color-one)20%, var(--bg-color-two) 20% 50%, var(--bg-color-three) 50% 80%, var(--bg-color-four) 80%);  
    transition: .8s;
}


.nav-right.active {
    left: 50%;
    transition: .5s;
}

@media only screen and (max-width: 599px) {
    .nav-left {
        left: -75%;
    }
    .nav-left.active {
        width: 75%;
    }
    .nav-right.active {
        width: 75%;
    }
}


.nav-link {
    opacity: 0;
    position: relative;
    left: -10%;
}
.nav-link.active {
    opacity: 1;
    transition: .5s;
    left: 0;
    text-decoration: none;
    color: var(--font-color-dark);
    position: relative;
    transition: .5s;
}
.nav-link a {
    text-decoration: none;
    color: var(--font-color-dark);
    position: relative;
    transition: .5s;
}
.nav-link a:hover {
    opacity: .5;
}

.contact {
    position: absolute;
    opacity: 0;
    bottom: 10%;
    left: 0;
}
.contact.active {
    opacity: 1;
    left: 10%;
    transition: .5s;
}

.hyperlink {
    text-decoration: none;
    color: var(--font-color-white);
}


.visit-us-button {
    padding: 10px 60px;
    border: 1px solid var(--font-color-white);
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--bg-color-four);
    color: var(--font-color-white);
    font-size: 14px;
    letter-spacing: 1px;
    transition: .25s;
}
.visit-us-button:hover {
    background-color: var(--bg-color-two);
    transition: .25s;
}



.logo {
    position: absolute;
    top: 1rem;
    left: 3%;
    z-index: 999;
    pointer-events: none;
    color: var(--font-color-white);
    border-radius: 100%;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--font-family-tert);
    
    transition: 1s;
    animation: .5s ease-in top-in both;
    width: 8rem;
}
.logo.active {
    color: var(--font-color-dark);
    animation: .5s ease-in top-in both;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@keyframes top-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}



/*  Landing ****************************************************************/

#landing {
    background: linear-gradient(160deg, var(--bg-color-one), var(--bg-color-two));  
    display: flex;
    flex-direction: row;
    height: auto;
}

#landing::before {
    content: "";
    background-image: url(images/landing-image.jpeg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: .05;
    transition: all .5s ease both;
}

.landing-side {
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.welcome {
    position: relative;
    width: 80%;
    color: var(--font-color-white);
    margin-top: 200px;
}
.welcome-header {
    font-size: 48px;
    font-family: var(--font-family-header);
    margin-bottom: 15px;
    animation: .5s ease-in left-in both;
}
.welcome-text {
    font-size: 18px;
    font-family: var(--font-family-main);
    margin-bottom: 25px;
    animation: .5s ease-in left-in both;
    animation-delay: .4s;
}

.landing-button {
    margin-right: 20px;
    margin-bottom: 20px;
    animation: .5s ease-in left-in both;
    animation-delay: .6s;
    
}
.landing-button:nth-child(2) {
    animation-delay: .8s;
}
.landing-button:nth-child(3) {
    animation-delay: 1s;
}
.landing-button a {
    color: var(--font-color-white);
    text-decoration: none;
}

.site-button {
    color: var(--font-color-white);
    border: 1px solid var(--font-color-white);
    left: 5%;
    top: 35vh;
    width: 8rem;
    padding: .6rem;
    text-align: center;
    transition: .5s;
    background: linear-gradient(to right, var(--font-color-white) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;  

}
.site-button:hover {
    cursor: pointer;
    background-color: var(--font-color-white);
    background-position: left bottom;
    color: var(--font-color-dark);
    transition: .5s;
}
.site-button:hover a {
    color: var(--font-color-dark);
    z-index: 10;
}




@keyframes left-in {
    0% {
        transform: rotateY(-50%);
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 100%;
    }
}


.landing-right {
    display: flex;
    align-items: center;
    justify-content: center;

    animation: .6s ease-in right-in both;
    z-index: 2;
}

.landing-images {
    position: relative;
    height: 420px;
    width: 500px;
    margin-top: 250px;
    margin-right: 100px;
}
.img-container {
    position: absolute;
    height: 100%;
    width: 100%;

    box-shadow: 0 2px 6px 6px rgba(0, 0, 0, .25);
    border-radius: 0px;
    padding: 15px 15px 80px;
    background-color: var(--font-color-white);

    display: flex;
    flex-direction: column;

    transform: rotate(4deg);
}
.img-container img {
    height: 100%;
    width: 100%;
}
.img-container p {
    margin-top: 25px;
    text-align: center;
    font-family: 'Mynerve', cursive;
    font-size: 24px;
    color: var(--font-color-dark);
}

.img-container:nth-child(1) {
    transform: rotate(2deg);
}
.img-container:nth-child(2) {
    transform: rotate(6deg);
} 
.img-container:nth-child(3) {
    transform: rotate(8deg);
}
.img-container:nth-child(4) {
    transform: rotate(10deg);
}


@keyframes right-in {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);

        opacity: 100%;
    }
}

@media only screen and (max-width: 1099px) {
    .landing-images {
        height: 300px;
        width: 360px;
    }
}
@media only screen and (max-width: 899px) {
    #landing {
        flex-direction: column;
        align-items: center;
    }
    .landing-side {
        width: 100%;
        justify-content: center;
    }
    .landing-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .landing-images {
        margin-top: 100px;
        margin-right: 0;
        height: 300px;
        width: 300px;
    }
    .img-container {
        padding: 8px 8px 20px;
    }
    .img-container p {
        font-size: 20px;
    }

}


/*  Slideshow ****************************************************************/

#slideshow {
    padding: 150px 0 150px;
    background: radial-gradient( var(--bg-color-three), var(--bg-color-four)); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 10px solid var(--font-color-white);
    position: relative;
}


.slideshow-text {
    width: 40%;
    padding: 20px;
    margin: auto;
}
.slideshow-text p {
    width: 80%;
    padding: 20px;
    font-family: var(--font-family-main);
    background-color: rgb(240, 248, 255, .5);
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.west-end-history-button {
    color: var(--font-color-dark);
    border: 1px solid var(--font-color-white);
    width: 80%;
    font-family: var(--font-family-main);
    font-size: 16px;
}
.west-end-history-button a {
    color: var(--font-color-dark);
}

.slideshow-container {
    display: flex;
    align-items: center;
    width: 60%;
}


.slideshow-inner {
    width: 100%;
    height: 450px;
    position: relative;
    margin: 0 50px;
    background-color: var(--font-color-white);
    border-radius: 20px 0 20px 0;
}

.my-slides img {
    width: 100%;
    height: 450px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide-text {
    color: var(--font-color-dark);
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(240, 248, 255, .5);
    font-family: 'Mynerve', cursive;
}


.slide-fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}   

/*
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover.active {
    background-color: #717171;
}   */

@media only screen and (max-width: 899px) {
    #slideshow {
        flex-direction: column;
        align-items: center;
    }
    .slideshow-container {
        width: 90%;
    }
    .slideshow-inner {
        margin: 0 50px;
        height: 300px;
    }
    .my-slides img {
        height: 300px;
    }

    .slideshow-text {
        width: 100%;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .west-end-history-button {
        margin-right: 0;
    }
}

@media only screen and (max-width: 599px) {
    .slideshow-container {
        width: 100%;
    }
    .slideshow-inner {
        margin: 0 25px;
        height: 300px;
    }
    .my-slides img {
        height: 300px;
    }
} 
@media only screen and (max-width: 459px) {
    .slideshow-text{
        margin-top: 200px;
    }
}


/*  Cards ****************************************************************/

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(160deg, var(--bg-color-three), var(--bg-color-four));
}

.cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
}

.cards-section-text {
    width: 50%;
    font-family: var(--font-family-main);
    color: var(--font-color-dark);
    background-color: rgb(240, 248, 255, .5);
    padding: 20px;
    margin: 20px;
    margin-bottom: 80px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.card {
    width: 320px;
    height: 300px;
    margin: 20px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}


.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px 0 20px 0;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    border: 4px solid whitesmoke;
}

.card-face-front {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-main);
    background: linear-gradient(160deg, var(--bg-color-one), var(--bg-color-two)); 
    color: var(--font-color-white); 
    letter-spacing: 1px;
}

.card-face-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-main);
    background: linear-gradient(160deg, var(--bg-color-one), var(--bg-color-two));  
    color: var(--font-color-white);
}   
.card-face-back h3 {
    font-family: var(--font-family-main);
    font-size: 22px;
}
.card-face-map {
    padding: 0;
}
iframe {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 899px) {
    .cards-section-text {
        width: 80%;
    }
}
